#container .tag-picker [role=list]:not(:hover) {
    border-color: transparent;
}
#container .multi-value-control.options button {
    width: 100%;
}
#container .multi-value-control.options button:hover,
#container .multi-value-control.options button.hover {
    background-color: aliceblue;
}
#container .multi-value-control.options .checkboxes {
    padding: 0 2px;
}