html {
    height: 100%;
}
body.multi-body {
    height: 100%;
}

#container .tag-picker [role=list]:not(:hover) {
    border-color: transparent;
}
#container .multi-value-control.combo-box button {
    visibility: hidden;
}
